@import "../smart-grid";
@import "../settings";
.search{
  width: 960px;
  height: 79px;
  background-color: #c5c5c5;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  &__text{
      width: 287px;



      p{
      font-family: $verdana;
      font-size: 13px;
      line-height: 1.2;
      font-style: $normal;
      color: #ffffff;
      border-right: #ffffff solid;

      }
  }
  &__data{
    p{
      font-family: $verdana;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff;
    }
  }
  &__form{
    form{
      margin-bottom: 10px ;
      .text{
        background-color: #ffffff;
        border: 1.0px solid #9b9b9b;
        width: 140px;
        height: 16px;
        font-family: $verdana;
        font-size: 11px;
        line-height: 1.2;
        color: #9b9b9b;
        padding-left: 5px;
      }
      .list{
        background-color: #ffffff;
        border: 1.0px solid #9b9b9b;
        width: 140px;
        height: 19px;
        font-family: $verdana;
        font-size: 11px;
        line-height: 1.2;
        color: #9b9b9b;
        padding-left: 5px;
      }
      .button{
        width: 54px;
        height: 20px;
        background-color: #9b9b9b;
        border: 1.0px solid #20201e;
        font-family: $verdana;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        color: #20201e;
      }
    }
  }
}
.logo{
  width: 960px;
  height: 116px;
  display: flex;
  justify-content: space-around;
  margin:auto;
  background: white;
  &__logotype{
    width: 351px;
    height: 58px;
    margin-top: 30px;
    margin-right: 130px;
  }
  &__record{
    width: 302px;
    height: 62px;
    margin-top: 8px;
    margin-left: 10px;
    opacity: 0.5;
    font-family: $verdana;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #003ca2;
  }
}
.banner{
  width: 960px;
  height: 225px;
  margin: auto;
}
.menu{
  display: flex;
  justify-content: space-around;
  width: 960px;
  height: 50px;
  margin: auto;

  &__block{
    width: 193px;
    height: 43px;
    background-color: #144194;
    text-align: center;
    border-top:5px solid #ffffff;
    border-right: 1px solid #ffffff;;
    a{
      text-decoration: none;
      font-family:$verdana;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;
      top: 10px;
    }

  }
  &__block:last-child{
    border-right: none;
  }
  &__block:hover{
      border-bottom:5px solid #db0029; ;

  }
}
